* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body, #root, .App {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  overflow-y: overlay;
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--ground);
}

@import '../styles/root';
@import '../styles/scroll';
@import '../styles/container';
@import '../styles/btn';
@import '../styles/textarea';
@import '../styles/input';
@import '../styles/form';
@import '../styles/link';
@import '../../components/Header/header';
@import '../../components/Header/navigation';
@import '../../components/Home/home';
@import '../../components/Sidebar/sidebar';
@import '../../components/Sidebar/profile';
@import '../../components/News/news';
@import '../../components/Login/login';
@import '../../components/Groups/groups';
@import '../../components/Timetable/timetable';
@import '../../components/Information/info';
@import '../../components/NotFound/notfound';
@import '../../components/ServerError/serverError';
@import '../../features/Slider/slider';
@import '../../features/Post/post';
@import '../../features/Modal/modal';
@import '../../features/Paging/paging';
@import '../../features/Pages/pages';
@import '../../features/List/list';
@import '../../features/Loading/loading';
@import '../../features/Select/select';