@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

@import '../styles/root';
@import '../styles/extends';
@import '../styles/link';
@import '../../components/HomePage/home';
@import '../../components/SchedulerPage/scheduler';