@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: overlay;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

@import '../styles/root';
@import '../styles/extends';
@import '../styles/scroll';
@import '../styles/link';
@import '../../features/List/list';
@import '../../components/HomePage/home';