.details {
  @extend %boxView;
  &__info {
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__img {
    width: 70px;
    height: 70px;
  }
  &__item {
    margin-top: 10px;
    text-align: center;
    list-style-type: decimal;
    font-weight: 500;
    font-size: 16px;
  }
  &__scheduler {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.7fr repeat(6, 1fr);
  }
  &__subject, &__time, &__day {
    padding: 3px;
    border: 1px solid rgba(#000, .3);
    border-top: none;
    border-left: none;
  }
  &__day {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  &__subject, &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  &__subject {
    font-weight: 500;
  }
  &__time {
    span {
      display: block;
      text-decoration: underline;
    }
  }
  &__lastr {
    border-right: none;
  }
  &__lastb {
    border-bottom: none;
  }
}

@import './media';