.details {
  &-full {
    margin: 7rem 0 3rem 0;
    &small {
      display: none;
    }
  }
  &__wrapper {
    @extend %boxView;
    &-day {
      margin-top: 1rem;
    }
  }
  &__info {
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__img {
    width: 70px;
    height: 70px;
  }
  &__item {
    margin-top: 10px;
    text-align: center;
    list-style-type: decimal;
    font-weight: 500;
    font-size: 16px;
  }
  &__scheduler {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.7fr repeat(6, 1fr);
    &-day {
      @extend %boxView;
      display: grid;
      grid-template-columns: 1fr 4fr;
      margin-bottom: 5px;
      box-shadow: 0 0 10px rgba(#000, .3);
    }
  }
  &__subject, &__time, &__day {
    padding: 3px;
    border: 1px solid rgba(#000, .3);
    border-bottom: none;
    border-left: none;
  }
  &__day {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  &__subject, &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    &-day {
      padding: 1rem;
      border-top: 1px solid rgba(#000, .3);
      border-right: 1px solid rgba(#000, .3);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
    }
  }
  &__subject {
    font-weight: 500;
  }
  &__time {
    span {
      display: block;
    }
    &_type {
      text-decoration: underline;
    }
    &-day {
      font-weight: 300;
      border-right: none;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: block;
      }
    }
  }
  &__lastr {
    border-right: none;
  }
  &__lastt {
    border-top: none;
  }
  &__need {
    cursor: pointer;
    position: relative;
    font-size: 18px;
    padding: .3rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    @extend %boxView;
    span {
      display: block;
    }
    &:hover &_more {
        transform: scale(1.2);
    }
    &:active &_more {
        transform: scale(1.1);
    }
    &_more {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 1rem;
      width: 30px;
      height: 100%;
      transition: all .3s;
      img {
        width: 70%;
        height: 70%;
      }
    }
  }
  &__select {
    cursor: pointer;
    font-size: 18px;
    padding: .3rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    @extend %boxView;
    background-color: rgba(255, 255, 255, .7);
    color: rgba(0, 0, 0, .7);
  }
}

@import './media';