@media (max-width: 1500px) {
  .details {
    &-full {
      margin: 5rem 0 1rem 0;
    }
    &__item {
      font-size: 14px;
    }
  }
}

@media (max-width: 1199px) {
  .details {
    &__item {
      font-size: 14px;
    }
    &__day {
      font-size: 16px;
    }
    &__subject, &__time {
      font-size: 14px;
    }
  }
}
@media (max-width: 1050px) {
  .details {
    &__day {
      font-size: 14px;
    }
    &__subject, &__time {
      font-size: 12px;
    }
  }
}

@media (max-width: 991px) {
  .details {
    &__item {
      font-size: 12px;
    }
  }
}

@media (max-width: 910px) {
  .details {
    &__item {
      font-size: 11px;
    }
    &__time {
      font-size: 11px;
    }
  }
}

@media (max-width: 855px) {
  .details {
    display: none;
    &-full {
      padding: 0 1rem;
    }
  }
}

@media (max-width: 600px) {
  .details {
    &-fullbig {
      display: none;
    }
    &-fullsmall{
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .details {
    &__subject, &__time {
      &-day {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 400px) {
  .details {
    &__subject, &__time {
      &-day {
        font-size: 14px;
      }
    }
  }
}