.input {
  @extend %boxView;
  box-shadow: 0 0 5px rgba(rgb(207, 207, 207), .4);
  display: block;
  width: 20rem;
  padding: .3rem;
  font-size: 16px;
  margin-bottom: 0.3rem;
  outline: none;
  transition: all .3s;
  &:focus {
    border-color: rgb(24, 75, 143);
    box-shadow: 0 0 10px rgba(rgb(207, 207, 207), .4);
  }
}

@media (max-width: 991px) {
  .input {
    width: 15rem;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .login {
    .input {
      font-size: 12px;
    }
  }
}