@media (max-width: 1199px) {
  .btn {
    &__sidebar {
      font-size: 18px;
      min-width: 35px;
      height: 35px;
      &_withimg {
        width: 35px;
      }
    }
  }
}

@media (max-width: 991px) {
  .btn {
    &__sidebar {
      font-size: 16px;
      min-width: 30px;
      height: 30px;
      &_withimg {
        width: 30px;
      }
    }
    &__form {
      font-size: 14px;
    }
  }
}

@media (max-width: 575px) {
  .btn {
    &__form {
      font-size: 12px;
    }
  }
}