$primary: rgb(32, 32, 32);
$secondary: rgb(18, 18, 18);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$classic: rgb(15, 62, 105);
$success: rgb(14, 75, 12);
$failure: rgb(75, 12, 12);
$ground: rgb(24, 24, 24);

$header: 5rem;
$sidebar: 35rem;

$zindex-header: 1000;
$zindex-sidebar: 1000;
$zindex-errors: 1000;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --black: #{$black};
  --white: #{$white};
  --classic: #{$classic};
  --success: #{$success};
  --failure: #{$failure};
  --ground: #{$ground};

  --sidebar: #{$sidebar};
  --header: #{$header};

  --zindex-header: #{$zindex-header};
  --zindex-sidebar: #{$zindex-sidebar};
  --zindex-errors: #{$zindex-errors};
}

::selection {
  color: rgb(228, 152, 152);
}