::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
}
:-webkit-scrollbar * {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary) !important;
  border-radius: 10px;
  &:hover {
    background: rgba($primary, .9) !important;
  }
}