@media (max-width: 1199px) {
  .sidebar {
    &__paging {
      height: 35px;
    }
    &__pages {
      margin-left: 35px;
    }
    &__input {
      font-size: 16px;
    }
    &__search {
      height: 35px;
    }
  }
}

@media (max-width: 991px) {
  .sidebar {
    &__paging {
      height: 30px;
    }
    &__pages {
      margin-left: 30px;
    }
    &__input {
      font-size: 14px;
    }
    &__search {
      height: 30px;
    }
  }
}

@media (max-width: 845px) {
  .sidebar {
    padding: 0 5rem;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 767px) {
  .sidebar {
    padding: 0 3rem;
  }
}

@media (max-width: 575px) {
  .sidebar {
    padding: 0 1rem;
  }
}