.notfound {
  &__header {
    display: flex;
    align-items: center;
  }
  &__error {
    font-size: 30rem;
    margin: 0 3rem;
    line-height: 35rem;
  }
  &__icon {
    width: 30rem;
    height: 30rem;
  }
  &__message {
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
  }
  &__link {
    display: block;
    margin: 0 auto;
    line-height: 3rem;
  }
}