.news {
  padding: 3rem 0;
  width: 100%;
  &__form {
    position: relative;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    border: 1px solid rgba($black, .7);
    box-shadow: 5px 10px 12px rgba($black, .7);
    border-radius: 1rem;
  }
  &__label {
    margin-right: 1rem;
  }
  &__textarea {
    width: 80%;
  }
  &__actions {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  &__posts {
    display: flex;
    flex-direction: column;
  }
  &__nav-bot {
    margin-top: 3rem !important;
  }
}