@media (max-width: 1199px) {
  .home {
    &__title {
      font-size: 62px;
      letter-spacing: .8rem;
    }
    &__subtitle {
      font-size: 24px;
      letter-spacing: .6rem;
    }
    &__link {
      font-size: 18px;
      letter-spacing: .3rem;
    }
    &__logo {
      width: 200px;
    }
  }
}

@media (max-width: 991px) {
  .home {
    &__title {
      font-size: 52px;
      letter-spacing: .7rem;
    }
    &__subtitle {
      font-size: 20px;
      letter-spacing: .5rem;
    }
    &__link {
      margin-top: 12px;
      font-size: 16px;
      letter-spacing: .3rem;
      width: 370px;
    }
    &__logo {
      width: 175px;
    }
  }
}

@media (max-width: 767px) {
  .home {
    &__title {
      font-size: 48px;
      letter-spacing: .5rem;
    }
    &__subtitle {
      font-size: 18px;
      letter-spacing: .3rem;
    }
    &__link {
      margin-top: 10px;
      font-size: 14px;
      letter-spacing: .1rem;
      width: 250px;
    }
    &__logo {
      width: 150px;
    }
  }
}

@media (max-width: 575px) {
  .home {
    &__title {
      font-size: 36px;
      letter-spacing: .3rem;
    }
    &__subtitle {
      font-size: 16px;
      letter-spacing: .2rem;
    }
    &__link {
      margin-top: 7px;
      font-size: 12px;
      letter-spacing: .1rem;
      width: 230px;
    }
    &__logo {
      width: 125px;
    }
  }
}