@media (max-width: 1199px) {
  .home {
    &__icon {
      width: 250px;
    }
    &__title {
      font-size: 32px;
      letter-spacing: .6rem;
      line-height: 2rem;
    }
    &__subtitle {
      font-size: 24px;
      letter-spacing: .4rem;
      line-height: 2rem;
    }
    &__link {
      margin-top: .2rem;
      padding: .9rem;
      line-height: .3rem;
      letter-spacing: .2rem;
    }
  }
}

@media (max-width: 991px) {
  .home {
    &__icon {
      top: 2rem;
      left: 2rem;
      width: 200px;
    }
    &__title {
      font-size: 28px;
    }
    &__subtitle {
      font-size: 22px;
    }
  }
}

@media (max-width: 767px) {
  .home {
    &__icon {
      top: 2rem;
      left: 2rem;
      width: 150px;
    }
    &__title {
      font-size: 26px;
      line-height: 1.5rem;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 1.5rem;
    }
    &__link {
      margin-top: .15rem;
      padding: .7rem;
      letter-spacing: .15rem;
    }
  }
}

@media (max-width: 575px) {
  .home {
    &__icon {
      top: 1.5rem;
      left: 1.5rem;
      width: 120px;
    }
    &__title {
      font-size: 21px;
      letter-spacing: .3rem;
    }
    &__subtitle {
      font-size: 16px;
      letter-spacing: .2rem;
    }
    &__link {
      font-size: 14px;
      letter-spacing: .1rem;
    }
  }
}